<header id="header"> 
        <div class="container">
    
          <div id="logo" class="pull-left">
            <!-- <a href="index.html"><img src="../../assets/img/logo-nav.png" alt="" title="" /></a> -->
           <h1 style="color: white; margin-left: -1.4cm">LIBRARY</h1> 
            <!-- <h1><a href="#hero"></a></h1> -->
          </div>
          
    
          <nav id="nav-menu-container">
            <ul style="margin-left: 8.5cm" class="nav-menu">
              <li><a class="nav-link" [routerLink]="['/about']">About Us</a></li>
              <li><a class="nav-link" [routerLink]="['/faculty']">Faculty</a></li>
              <li><a class="nav-link" [routerLink]="['/student']">Login</a></li>
              <li><a class="nav-link" [routerLink]="['/signup-student']">Sign Up</a></li>
              <li><a class="nav-link" [routerLink]="['/view']">View</a></li>  
            </ul>
          </nav>
          
    
          <nav class="nav social-nav pull-right d-none d-lg-inline">
            <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-envelope"></i></a>
          </nav>
        </div>
      </header>