<footer class="site-footer">
    <div style="height: 2.5cm; background-color:  rgb(126, 185, 197)" class="bottom">
      <div style="margin-left: 14cm" class="container">
        <div class="row">

          <div class="col-lg-6 col-xs-12 text-lg-left text-center">
            <p ass="copyright-text">
             <b> © Library Management </b> 
            </p>
            <div class="credits">
              
             <b>Made in </b> <a  href="http://www.iitmjanakpuri.com/"><b>IITM Janakpuri</b></a>
            </div>
          </div>

          
        

        </div>
        
      </div>
    </div>
  </footer>