<html>
    <head>
       
        <h1 style="background-color:rgb(97, 221, 59) ; color: white; display: inline-block; height: 1m; width: 2.7cm ;  " > Chirag </h1>
           
        <h1 style="background-color:rgb(97, 221, 59) ; color: white; display: inline-block ; height: 1cm; width: 3.2cm;  margin-left: -5px"> Gautam </h1>

              
    </head>


    <body>
       <br> <a style="font-family: cursive" href="www.google.com" >About us</a><br>
        <a style="font-family: cursive" href="contact.html" >Contact</a><br>
    </body>
   
</html>