<div class="">
    <div class="col-3" *ngFor="let obj of arr">
     <div class="card" style="width: 18rem;">
      
       <div class="card-body">
         <h5 class="card-title">{{obj.name}}</h5>
         <p class="card-text">{{obj.city}}</p>
         <p class="card-text">{{obj.password}}</p>
         <a href="www.youtube.com" class="btn btn-primary">{{obj.address}}</a>
         <button type="submit" [routerLink]="['/update',obj._id]">Update</button>
         <button type="submit" (click)="delData(obj._id)">Delete</button>
   
       </div>
     </div>
   </div>
   </div>